.main_nav{
  margin: auto;
  width: 90%;
  padding: 10px;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title_nav{
  font-size: 36px;
  margin: 32px auto 45px auto;
  text-align: center;
  color: #30547b;
}

.link{
  text-decoration: none;
}

.questions_nav{
  margin: auto;
  width: 40%;
  text-decoration: none;
}

.nav_question{  
  border: 2px solid #72889f;
  width: 80%;
  border-radius: 12px;
  margin: 0px auto 18px auto;
  padding: 6px 0px 6px 0px;
  font-size: 23px;
  text-align: center;
  color: #72889f;
  min-height: 30px;
}

.login_screen{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  padding: 10px 25px 20px 25px;
  border: solid grey 2px;
  border-radius: 5px;
}

.input{  
  margin: 10px 0px 0px 0px;
  font-size: 10px;
}

.submit{
  margin: 10px 30px 10px 30px;
}

.editor_popup{
  width:500px;
  height:150px;
  position:absolute;
  top:30%;
  left:50%;
  margin:-50px 0 0 -250px;
  background-color: #afcae6;
  border-radius: 10px;
  padding: 10px;
  border: solid black 2px;
}

.viewer_popup{
  width:500px;
  position:absolute;
  top:30%;
  left:50%;
  margin:-50px 0 0 -250px;
  background-color: #afcae6;
  border-radius: 10px;
  padding: 10px;
  border: solid black 2px;
}

.text_input{
  height: 35px;
}