.info_main{
    margin-top: -9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    min-height: 700px;
    color: black;
    width: 100%;
    font-family: Helvetica, sans-serif;

}

.info_title{
    font-size:42px;
    color:palevioletred;
}

.text{
    width:67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.text center{
    margin: 16px 0px 16px 0px;
}

.title{    
    font-size: 42px;
    font-family: Helvetica, sans-serif;
    border-bottom: 50px;
}

.info_button{
    margin-top: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    background: palevioletred;
    border: transparent;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.info_input{
    min-width: 30px;
    height: 100px;
    align-content: start;
    justify-content: start;
    font-family: Helvetica, sans-serif;
}